{% extends "base.html" %}
{% load static widget_tweaks %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <form class="box" action="" method="POST">
                    <h1 class="title has-text-weight-bold has-text-centered mb-4">{{ title }}</h1>
                    {% csrf_token %}
                    {% include 'core/non_field_errors.html' %}
                    {% include 'core/fields/email_field.html' with field=form.username|add_class:"input"|attr:"placeholder:Email address" %}
                    {% include 'core/fields/password_field.html' with field=form.password|add_class:"input"|attr:"placeholder:Password" %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="field">
                        <div class="control has-text-centered">
                            <button class="button is-link is-fullwidth mb-3" type="submit">Log In</button>
                            <a href="#">Forgot password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}