<nav id="navbar" class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">🥑</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarMain" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">Stores</div>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'store-list' %}">List</a>
                        <a class="navbar-item" href="{% url 'store-create' %}">Create</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">Products</div>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'product-list' %}">List</a>
                        <a class="navbar-item" href="{% url 'product-create' %}">Create</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">Brands</div>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'brand-list' %}">List</a>
                        <a class="navbar-item" href="{% url 'brand-create' %}">Create</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">Tags</div>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'tag-list' %}">List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>