{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <div class="content">
                    <div class="card">
                        <div class="card-content">
                            <h1 class="title has-text-weight-bold">{{ store.name }}</h1>
                            <h2 class="is-size-4">Brands</h2>
                            <ul>
                                {% for brand in store.brands.all %}
                                <li>
                                    <a href="{% url 'brand-detail' brand.pk %}">{{ brand }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <footer class="card-footer">
                            <a href="{{ store.website }}" class="card-footer-item">Website</a>
                            <a href="{{ store.directions }}" class="card-footer-item">Directions</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}