{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <form class="box" action="" method="POST">
                    <div class="content">
                        <h1 class="title has-text-centered has-text-weight-bold">{{ title }}</h1>
                    </div>
                    {% csrf_token %}
                    {% include 'core/non_field_errors.html' %}
                    {% include 'core/fields/input_field.html' with field=form.name|add_class:"input" %}
                    <div class="buttons">
                        {% if object %}
                        <button class="button is-primary" type="submit">{{ button }}</button>
                        <a class="button" href="{% url 'index' %}">Cancel</a>
                        {% else %}
                        <button class="button is-primary" type="submit">{{ button }}</button>
                        <a class="button" href="{% url 'store-list' %}">Cancel</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}