{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="title has-text-weight-bold">{{ title }}</h1>
            <table class="table is-striped is-hoverable" id="sortable-table">
                <thead>
                    <tr>
                        <th>
                            <span class="icon-text is-clickable">
                                <span>Name</span>
                                <span class="icon">
                                    <i class="fas fa-sort"></i>
                                </span>
                            </span>
                        </th>
                        <th class="has-text-centered" id="actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for store in stores %}
                    <tr>
                        <td>
                            <a href="{% url 'store-detail' store.pk %}">
                                {{ store.name }}
                            </a>
                        </td>
                        <td class="has-text-centered">
                            <a href="{% url 'store-update' store.pk %}">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-edit" aria-hidden="true" title="Update store"></i>
                                        <span class="is-sr-only">Update store</span>
                                    </span>
                                </span>
                            </a>
                            <a href="{% url 'store-delete' store.pk %}">
                                <span class="icon-text">
                                    <span class="icon has-text-danger">
                                        <i class="fas fa-trash" aria-hidden="true" title="Delete store"></i>
                                        <span class="is-sr-only">Delete store</span>
                                    </span>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock content %}