{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="title has-text-weight-bold">{{ title }}</h1>
            <table class="table is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for store in stores %}
                    <tr>
                        <td>{{ store.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock content %}