{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <form class="box" action="{% url 'store-delete' store.pk %}" method="POST">
                    <div class="content">
                        <h1 class="title has-text-centered has-text-weight-bold">{{ title }}</h1>
                        <p>Are you sure you want to delete this store?</p>
                        <p class="has-text-danger-dark has-text-weight-bold">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                <span>All associated data will be deleted.</span>
                            </span>
                        </p>
                    </div>
                    {% csrf_token %}
                    {{ form }}
                    <div class="buttons">
                        <button class="button is-danger" type="submit">Delete store</button>
                        <a href="{% url 'store-list' %}" class="button">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}