{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="title has-text-weight-bold">{{ title }}</h1>
            <p>We have sent you an email for verification. Follow the link provided to finalize the signup process. If
                you do not see the verification email in your main inbox, check your spam folder. Please contact us if
                you do not receive the verification email within a few minutes.</p>
        </div>
    </div>
</section>

{% endblock content %}