{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="title has-text-weight-bold">{{ title }}</h1>
            <table class="table is-striped is-hoverable" id="sortable-table">
                <thead>
                    <tr>
                        <th>
                            <span class="icon-text is-clickable">
                                <span>Name</span>
                                <span class="icon">
                                    <i class="fas fa-sort"></i>
                                </span>
                            </span>
                        </th>
                        <th>
                            <span class="icon-text is-clickable">
                                <span>Store</span>
                                <span class="icon">
                                    <i class="fas fa-sort"></i>
                                </span>
                            </span>
                        </th>
                        <th class="has-text-centered" id="actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for brand in brands %}
                    <tr>
                        <td>
                            <a href="{% url 'brand-detail' brand.pk %}">
                                {{ brand.name }}
                            </a>
                        </td>
                        <td>{{ brand.store }}</td>
                        <td class="has-text-centered">
                            <a href="{% url 'brand-update' brand.pk %}">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-edit" aria-hidden="true" title="Update brand"></i>
                                        <span class="is-sr-only">Update brand</span>
                                    </span>
                                </span>
                            </a>
                            <a href="{% url 'brand-delete' brand.pk %}">
                                <span class="icon-text">
                                    <span class="icon has-text-danger">
                                        <i class="fas fa-trash" aria-hidden="true" title="Delete brand"></i>
                                        <span class="is-sr-only">Delete brand</span>
                                    </span>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% include 'core/table_sort.html' %}
{% endblock content %}