{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <form class="box" action="{% url 'product-create' %}" method="POST">
                    <div class="content">
                        <h1 class="title has-text-centered has-text-weight-bold">{{ title }}</h1>
                    </div>
                    {% csrf_token %}
                    {% include 'core/non_field_errors.html' %}
                    <div class="field">
                        <label class="label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        <div class="control">
                            {% render_field form.name class="input" %}
                        </div>
                    </div>
                    {% include 'core/form_field_errors.html' with errors=form.name.errors %}
                    <div class="field">
                        <label class="label" for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                        <div class="control">
                            {% render_field form.price class="input" min="0" %}
                        </div>
                    </div>
                    {% include 'core/form_field_errors.html' with errors=form.price.errors %}
                    <div class="field">
                        <label class="label" for="{{ form.promo_price.id_for_label }}">{{ form.promo_price.label }}</label>
                        <div class="control">
                            {% render_field form.promo_price class="input" min="0" %}
                        </div>
                    </div>
                    {% include 'core/form_field_errors.html' with errors=form.promo_price.errors %}
                    <div class="field">
                        <label class="label" for="{{ form.store.id_for_label }}">{{ form.store.label }}</label>
                        <div class="control">
                            <div class="select">
                                {% render_field form.store %}
                            </div>
                        </div>
                    </div>
                    {% include 'core/form_field_errors.html' with errors=form.store.errors %}
                    <div class="field">
                        <label class="label" for="{{ form.notes.id_for_label }}">{{ form.notes.label }}</label>
                        <div class="control">
                            {% render_field form.notes class="textarea" rows=5 %}
                        </div>
                    </div>
                    {% include 'core/form_field_errors.html' with errors=form.notes.errors %}
                    <div class="field">
                        <label class="label" for="{{ form.tags.id_for_label }}">{{ form.tags.label }}</label>
                        <div class="control">
                            {% render_field form.tags class="input" %}
                        </div>
                    </div>
                    {% include 'core/form_field_errors.html' with errors=form.tags.errors %}
                    <div class="buttons">
                        <button class="button is-primary" type="submit">Create product</button>
                        <a href="{% url 'index' %}" class="button">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}