{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="title has-text-weight-bold">{{ title }}</h1>
            <table class="table is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Promo</th>
                        <th>Weight</th>
                        <th>Price per oz</th>
                        <th>Last Purchased</th>
                        <th>Brand</th>
                        <th>Store</th>
                        <th class="has-text-centered">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.promo_price }}</td>
                        <td>{{ product.weight.magnitude }} oz.</td>
                        <td>{{ product.price_per_oz }}</td>
                        <td>{{ product.modified|date:"n/j" }}</td>
                        <td>{{ product.brand.name }}</td>
                        <td>{{ product.brand.store }}</td>
                        <td class="has-text-centered">
                            <a href="{% url 'product-update' product.pk %}">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-edit" aria-hidden="true" title="Update product"></i>
                                        <span class="is-sr-only">Update product</span>
                                    </span>
                                </span>
                            </a>
                            <a href="{% url 'product-delete' product.pk %}">
                                <span class="icon-text">
                                    <span class="icon has-text-danger">
                                        <i class="fas fa-trash" aria-hidden="true" title="Delete product"></i>
                                        <span class="is-sr-only">Delete product</span>
                                    </span>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if is_pageinated %}
            <nav class="pagination" role="pagination" aria-label="pagination">
                {% if page_obj.has_previous %}
                <a class="pagination-previous" href="?page=1">&laquo; first</a>
                <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <ul class="pagination-list">
                    {% for page_number in paginatior.page_range %}
                    <li>
                        {% if page_obj.number == page_number %}
                        <a class="pgaination-link is-current" href="?page={{ page_number }}"
                            aria-label="Page {{ page_number }}" aria-current="page">{{ page_number }}</a>
                        {% else %}
                        <a class="pagination-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>

                {% if page_obj.has_next %}
                <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next page</a>
                <a class="pagination-next" href="?page={{ page_obj.paginator.num_pages }}">last &arquo;</a>
                {% endif %}
            </nav>
            {% endif %}
        </div>
    </div>
</section>

{% endblock content %}