{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <form class="box" action="" method="POST">
                    <div class="content">
                        <h1 class="title has-text-centered has-text-weight-bold">{{ title }}</h1>
                    </div>
                    {% csrf_token %}
                    {% include 'core/non_field_errors.html' %}
                    {% include 'core/fields/input_field.html' with field=form.name|add_class:"input"|attr:"placeholder:Product name" %}
                    {% include 'core/fields/input_field.html' with field=form.price|add_class:"input" %}
                    {% include 'core/fields/input_field.html' with field=form.promo_price|add_class:"input" %}
                    {% include 'core/fields/input_field.html' with field=form.weight %}
                    {% include 'core/fields/select_field.html' with field=form.brand %}
                    {% include 'core/fields/input_field.html' with field=form.notes|add_class:"textarea"|attr:"rows:2" %}
                    {% include 'core/fields/input_field.html' with field=form.tags|add_class:"input" %}
                    <div class="buttons">
                        <button class="button is-primary" type="submit">{{ button }}</button>
                        {% if object %}
                        <a href="{% url 'product-list' %}" class="button">Cancel</a>
                        {% else %}
                        <a href="{% url 'index' %}" class="button">Cancel</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}