{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-two-fifths">
                <div class="card">
                    <div class="card-content">
                        <h1 class="title">{{ product.name }}</h1>
                        {% if product.promo_price %}
                        <p>
                            <span class="has-text-primary is-size-4">${{ product.promo_price }}</span>
                            {% else %}
                            <span class="is-size-4">${{ product.price }}</span>
                            {% endif %}
                        </p>
                        <span>{{ product.weight.magnitude|floatformat:"-2" }} oz. | ${{ product.price_per_oz }}/oz.</span>
                        <p>{{ product.brand }} - {{ product.brand.store }}</p>
                        <div class="tags mt-4">
                            {% for tag in product.tags.names %}
                            <span class="tag is-info is-light is-medium">{{ tag }}</span>
                            {% endfor %}
                        </div>
                        <p class="is-italic">Last purchased on {{ product.purchase_date|date:"n/j" }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            <a href="{% url 'product-update' product.pk %}">Update</a>
                        </div>
                        <div class="card-footer-item">
                            <a href="{% url 'product-delete' product.pk %}">Delete</a>
                        </div>
                    </div>
                </div>
                {% if product.tags.similar_objects %}
                <h2 class="is-size-4 mb-4">Related Products</h2>
                <div class="columns is-multiline">
                    {% for related_product in product.tags.similar_objects %}
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <h2>
                                    <a href="{% url 'product-detail' related_product.pk %}">
                                        {{ related_product.name }}
                                    </a>
                                </h2>
                                {% if related_product.promo_price %}
                                <p>
                                    <span class="has-text-primary">${{ related_product.promo_price }}</span>
                                    (${{ related_product.price_per_oz }}/oz.)
                                </p>
                                {% else %}
                                <p>${{ related_product.price }} ({{ related_product.price_per_oz}}/oz.)</p>
                                {% endif %}
                                <p>{{ related_product.brand.store }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}