{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="title has-text-weight-bold">{{ title }}</h1>
            <table class="table is-striped is-hoverable" id="sortable-table">
                <thead>
                    <tr>
                        <th>
                            <span class="icon-text is-clickable">
                                <span>Name</span>
                                <span class="icon">
                                    <i class="fas fa-sort"></i>
                                </span>
                            </span>
                        </th>
                        <th class="has-text-centered">
                            <span class="icon-text is-clickable">
                                <span>Price</span>
                                <span class="icon">
                                    <i class="fas fa-sort"></i>
                                </span>
                            </span>
                        </th>
                        <th class="has-text-centered">
                            <span class="icon-text is-clickable">
                                <span>Promo</span>
                                <span class="icon">
                                    <i class="fas fa-sort"></i>
                                </span>
                            </span>
                        </th>
                        <th class="has-text-centered">
                            <span class="icon-text is-clickable">
                                <span>Weight</span>
                                <span class="icon">
                                    <i class="fas fa-sort"></i>
                                </span>
                            </span>
                        </th>
                        <th class="has-text-centered">
                            <span class="icon-text is-clickable">
                                <span>Price/oz</span>
                                <span class="icon">
                                    <i class="fas fa-sort"></i>
                                </span>
                            </span>
                        </th>
                        <th>
                            <span class="icon-text is-clickable">
                                <span>Purchased</span>
                                <span class="icon">
                                    <i class="fas fa-sort"></i>
                                </span>
                            </span>
                        </th>
                        <th>
                            <span class="icon-text is-clickable">
                                <span>Tags</span>
                                <span class="icon">
                                    <i class="fas fa-sort"></i>
                                </span>
                            </span>
                        </th>
                        <th>
                            <span class="icon-text is-clickable">
                                <span>Brand</span>
                                <span class="icon">
                                    <i class="fas fa-sort"></i>
                                </span>
                            </span>
                        </th>
                        <th>
                            <span class="icon-text is-clickable">
                                <span>Store</span>
                                <span class="icon">
                                    <i class="fas fa-sort"></i>
                                </span>
                            </span>
                        </th>
                        <th class="has-text-centered" id="actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                            <a href="{% url 'product-detail' product.pk %}">{{ product.name }}</a>
                        </td>
                        <td class="has-text-right">${{ product.price }}</td>
                        <td class="has-text-right">${{ product.promo_price }}</td>
                        <td class="has-text-right">{{ product.weight.magnitude }} oz.</td>
                        <td class="has-text-right">${{ product.price_per_oz }}</td>
                        <td>{{ product.modified|date:"n/j" }}</td>
                        <td>
                            {% for tag in product.tags.all %}
                            {{ tag.name|capfirst }}
                            {% endfor %}
                        </td>
                        <td>{{ product.brand.name }}</td>
                        <td>{{ product.brand.store }}</td>
                        <td class="has-text-centered">
                            <a href="{% url 'product-update' product.pk %}">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-edit" aria-hidden="true" title="Update product"></i>
                                        <span class="is-sr-only">Update product</span>
                                    </span>
                                </span>
                            </a>
                            <a href="{% url 'product-delete' product.pk %}">
                                <span class="icon-text">
                                    <span class="icon has-text-danger">
                                        <i class="fas fa-trash" aria-hidden="true" title="Delete product"></i>
                                        <span class="is-sr-only">Delete product</span>
                                    </span>
                                </span>
                            </a>
                            <a href="{% url 'add-to-list' product.pk %}">
                                <span class="icon-text">
                                    <span class="icon has-text-primary">
                                        <i class="fas fa-cart-plus" aria-hidden="true" title="Add to shopping list"></i>
                                        <span class="is-sr-only">Add to shopping list</span>
                                    </span>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
            <nav class="pagination" role="pagination" aria-label="pagination">
                {% if page_obj.has_previous %}
                <a class="pagination-previous" href="?page=1">&laquo; first</a>
                <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <ul class="pagination-list">
                    {% for page_number in paginator.page_range %}
                    <li>
                        {% if page_obj.number == page_number %}
                        <a class="pagination-link is-current" href="?page={{ page_number }}"
                            aria-label="Page {{ page_number }}" aria-current="page">{{ page_number }}</a>
                        {% else %}
                        <a class="pagination-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>

                {% if page_obj.has_next %}
                <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next page</a>
                <a class="pagination-next" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </nav>
            {% endif %}
        </div>
    </div>
</section>

{% include 'core/table_sort.html' %}
{% endblock content %}