{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <div class="content">
                    <div class="card">
                        <div class="card-content">
                            <h1 class="title">{{ tag.name|capfirst }}</h1>
                            <ul>
                                {% for product in products|dictsort:"content_object.name" %}
                                <li>
                                    <a href="{% url 'product-detail' product.content_object.pk %}">{{ product.content_object.name }}</a>
                                    (${{ product.content_object.price }} at {{ product.content_object.brand.store.name }})
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-item">
                                <a href="{% url 'tag-delete' tag.pk %}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}